<div class="jumbotron text-center">
<h1 class="display-3">{{title}}</title></h1>
<p class="lead">Write Down Your Ideas For Next Video</p>
<a herf="/ideas/add" class="btn btn-primary btn-lg">Add Ideas For Your Next Videos</a>
</div>